head
  title
    | Tutor Tracker
  link(rel='stylesheet', href='/stylesheets/style2.css')
  block scripts
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")