extends layout

block content
  #tileBar
    a(href='#', id='tutorTitle', class='liveTile') '   Tutors'
    a(href='#', id='locationTile', class='liveTile') Locations
    .clear
    a(href='/calender', id='scheduleTile', class='liveTile') Schedule
    a(href='/messages', id='messageTile', class='liveTile') Messages
    
  //
    #searchWrapper
      <input name="q" class="textbox" onfocus="if (this.value=='search') this.value = ' '" type="text" maxlength = "400" siz="50" value='search'>
      #searchBar
      a(href='#', id='searchButton')

   