doctype 5
html
  include includes/head
  #body
    #contentWrapper
      #titleBar
        a(href='/', id='title') Tutor Tracker

      #navBar
        ul
          if username === "Not logged in"
            li: a(href='/login') Login
            li: a(href='/register') Register
          else
            li: a(href='/logout') Logout
            li: a(href='/profile') Profile
            p #{username}
      block content