body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
.hidden
  display: none;
div, a, h1, input
  padding: 0
  margin: 0
a
  display: inline-block
  text-decoration: none
  color: #00B7FF
#contentWrapper
  width: 400px
  background-color: #FFFFFF
#titleBar
  width: 400px
  height: 40px
  h1
    width: 190px
    line-height: 40px;
    margin: 0 auto
#trayToggleOpen
  width: 30px
  height: 30px
  margin-top: 5px
  margin-right: 10px
  background-color: #C4C4C4
  float: left
#searchWrapper
  width: 400px
#searchBar
  width: 350px
  height: 20px
  margin-right: 5px
  float: left
#searchButton
  width: 22px
  height: 22px
  background-color: #E3E3E3
  border: black solid 1px
#tileNotifications
  width: 345px
  margin: 0 auto
  padding-top: 20px
.liveTile
  width: 150px
  height: 150px
  border: black solid 1px
  margin-right: 20px
  margin-bottom: 20px
#username
  text-align: center
  
#messageWrapper
  width: 600px
  border-top: 1px solid black
.post
  width: 100%
  border: 1px solid black
  border-top: none
ul.msgInfo
  width: 100%
  padding: 20px
  margin: 0
  li
    display: inline-block
li.poster
  width: 120px
li.postTime
  width: 150px
li.postText
  width: 330px

.messageBlock
  display: block
  border: 1px solid black
.messageBlock:hover, .messageBlock:active
  color: #000
  
.removeMember
  display: inline-block
  width: 20px
  height: 20px
  border: 1px solid black
  
.ui-helper-hidden-accessible
  display: none;