body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.hidden {
  display: none;
}
div,
a,
h1,
input {
  padding: 0;
  margin: 0;
}
a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}
#contentWrapper {
  width: 400px;
  background-color: #00f1f0;
}
#titleBar {
  width: 400px;
  height: 40px;
}
#titleBar h1 {
  width: 190px;
  line-height: 40px;
  margin: 0 auto;
}
#trayToggleOpen {
  width: 40px;
  height: 20px;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #c4c4c4;
  float: left;
}
#searchWrapper {
  width: 400px;
}
#searchBar {
  width: 400px;
  height: 40px;
  margin-right: 0px;
  float: left;
}
.textbox {
  background: #ffc;
  margin: 10px;
  max-width: 400px;
  padding-left: 10px;
}
#searchButton {
  width: 16px;
  height: 15px;
  background-color: #e3e3e3;
  border: #000 solid 1px;
  margin-left: 0px;
}
#tileNotifications {
  width: 345px;
  margin: 0 auto;
  padding-top: 20px;
}
.liveTile {
  width: 150px;
  height: 150px;
  border: #000 solid 1px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #50ff00;
}
.liveTile:Hover {
  background-color: #00f000;
  P: 'Message your friends or tutors!';
}
#username {
  text-align: center;
}
#messageWrapper {
  width: 600px;
  border-top: 1px solid #000;
}
.post {
  width: 100%;
  border: 1px solid #000;
  border-top: none;
}
ul.msgInfo {
  width: 100%;
  padding: 20px;
  margin: 0;
}
ul.msgInfo li {
  display: inline-block;
}
li.poster {
  width: 120px;
}
li.postTime {
  width: 150px;
}
li.postText {
  width: 330px;
}
.removeMember {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
}
.ui-helper-hidden-accessible {
  display: none;
}
.messageBlock {
  display: block;
  border: 1px solid #000;
}
.messageBlock:hover,
.messageBlock:active {
  color: #000;
}
